/* Pequeños ajustes sobre Bootstrap */

.sortable {
    cursor: pointer;
    user-select: none; /* Evita que el texto se seleccione al hacer doble clic */
}

.sortable:hover {
    background-color: #495057;
}

/* === NUEVOS ESTILOS PARA EL SPINNER === */
#spinner-overlay {
    position: fixed; /* Se queda fijo aunque hagas scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Por encima de la mayoría de los elementos */
}

/* Aumentar el tamaño del spinner de Bootstrap */
#spinner-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
}
